footer {
  background-color: #C0C6B9;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__links {
  padding: 35px 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__link {
  -webkit-transition: 0.6s all ease;
  -o-transition: 0.6s all ease;
  transition: 0.6s all ease;
}

.footer__link svg :hover {
  stroke: #EAE7DC;
  fill: #EAE7DC;
}

.footer__text {
  padding: 15px;
}

.footer__text-item {
  font-weight: 400;
  font-size: 17px;
  line-height: 15px;
  /* identical to box height */
  text-align: center;
  color: #49676E;
}