.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.gallery a {
  height: 200px;
  width: 300px;
  border-radius: 5px;
  overflow: hidden;
  margin: 30px;
  -webkit-box-shadow: 0 3px 5px #000;
          box-shadow: 0 3px 5px #000;
}

.gallery a img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery a img:hover {
  -webkit-transform: scale(1.4);
      -ms-transform: scale(1.4);
          transform: scale(1.4);
}

.gallery__title {
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #49676E;
  margin-bottom: 60px;
  margin-top: 40px;
}