.home-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-images__top {
  margin-bottom: 30px;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-images__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 70px;
}

.home__title {
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #49676E;
  margin-top: 50px;
  margin-bottom: 50px;
}

.home__text {
  margin-bottom: 60px;
}

.home__text-title {
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  text-align: center;
  color: #49676E;
  margin-bottom: 40px;
}

.home__text-content {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #49676E;
}

.home-newsletter {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newsletter__title {
  font-size: 35px;
  line-height: 42px;
  text-align: center;
  color: #49676E;
  margin-bottom: 15px;
}

.newsletter__subtitle {
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  text-align: center;
  color: rgba(73, 103, 110, 0.8);
  margin-bottom: 25px;
}

.newsletter-form__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
  max-width: 397px;
}

.newsletter-form__input {
  padding: 10px 25px;
  width: 273px;
  height: 42px;
  background: #EAE7DC;
  border-radius: 10px;
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  /* identical to box height */
  color: #49676E;
}

.newsletter-form__input:focus {
  border: 3px solid #474845;
}

.newsletter-form__btn {
  background: #EAE7DC;
  border-radius: 10px;
  width: 104px;
  height: 42px;
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  text-align: center;
  color: #49676E;
}

.newsletter-form__textarea {
  background: #EAE7DC;
  border-radius: 10px;
  resize: none;
  width: 397px;
  height: 98px;
  padding: 20px;
  outline: none;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  color: #49676E;
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  /* identical to box height */
}

.newsletter-form__textarea:focus {
  border: 3px solid #474845;
}