.container {
  position: relative;
  max-width: 1196px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.main__page {
  padding: 70px 0;
  min-height: 100vh;
}

.main__page::before {
  content: url("../img/before__img.png");
  position: absolute;
  width: 186px;
  height: 186px;
  margin-left: 50px;
  left: 597px;
  top: 56px;
  z-index: 99;
}

.main__page::after {
  content: url("../img/after__img.png");
  position: absolute;
  width: 304px;
  height: 303px;
  left: 631px;
  top: 384px;
}

.main__top-img {
  margin-left: 40px;
}

.main__content {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__content-img {
  position: relative;
}

.main__content-btn {
  background: #EAE7DC;
  border: 4px solid #49676E;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  padding: 20px 15px;
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: rgba(73, 103, 110, 0.8);
  margin-bottom: 100px;
  margin-right: 80px;
  -webkit-transition: 0.6s all ease;
  -o-transition: 0.6s all ease;
  transition: 0.6s all ease;
}

.main__content-btn:hover {
  margin-top: 20px;
}

.main__gallery {
  -webkit-transition: 0.2s all linear;
  -o-transition: 0.2s all linear;
  transition: 0.2s all linear;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}