nav {
  background-color: #C0C6B9;
  overflow: hidden;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 35px;
  padding-bottom: 35px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  margin-left: 45px;
}

.menu__item-link {
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #49676E;
  -webkit-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.menu__item-link:hover {
  color: #EAE7DC;
  border-bottom: 3px solid #EAE7DC;
}

.burger {
  display: none;
  cursor: pointer;
}