@media (max-width: 1920px) {
  .main__page::before {
    left: 897px;
    top: 56px;
  }

  .main__page::after {
    left: 897px;
    top: 384px;
  }
}

@media (max-width: 1500px) {
  .main__page::before {
    left: 597px;
    top: 56px;
  }

  .main__page::after {
    left: 597px;
    top: 384px;
  }
}

@media (max-width: 1449.98px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1200px) {
  .home-images__top-img {
    width: 100%;
    height: auto;
  }

  .home-images__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 970px;
  }

  .menu__item {
    margin-left: 35px;
  }
}

@media (max-width: 940px) {
  .main__page::before {
    display: none;
  }

  .main__page::after {
    display: none;
  }
}

@media (max-width: 900px) {
  .main__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .main__content-img {
    width: 100%;
    height: auto;
  }

  .main__content-btn {
    margin-bottom: 0px;
    margin-right: 0px;
    margin-top: 20px;
  }
}

@media (max-width: 820px) {
  .me__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 50px;
  }

  .me-item__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .me-item__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 800px) {
  .home-images__content-img {
    height: auto;
    width: 100%;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 740px;
  }
}

@media screen and (max-width: 767.98px) {
  .menu {
    position: fixed;
    background: #C0C6B9;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: none;
  }

  .menu.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    pointer-events: all;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 22;
    -webkit-animation: fade 0.1s linear;
            animation: fade 0.1s linear;
  }

  .burger {
    display: block;
    position: relative;
    height: 20px;
    width: 30px;
    z-index: 102;
    cursor: pointer;
  }

  .burger.active-burger:before {
    background: "white";
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    top: 8px;
  }

  .burger.active-burger:after {
    background: "white";
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 10px;
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .burger.active-burger span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .burger:before,
  .burger:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background: "white";
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .burger:before {
    top: 0;
  }

  .burger::after {
    bottom: 0;
  }

  .burger span {
    position: absolute;
    top: 9px;
    right: 0;
    width: 100%;
    background: "white";
    height: 2px;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .menu__item {
    margin-top: 15px;
  }

  .menu__item-link {
    color: white;
  }
}

@media (max-width: 479.98px) {
  .container {
    max-width: none;
  }

  .contact__img-item {
    width: 100%;
    height: auto;
  }

  .contact__input {
    max-width: 310px;
  }

  .contact__textarea {
    max-width: 310px;
  }
}

@media (max-width: 460px) {
  .newsletter-form__top {
    max-width: 337px;
    gap: 15px;
  }

  .newsletter-form__input {
    max-width: 233px;
  }

  .newsletter-form__textarea {
    max-width: 337px;
  }
}

@media (max-width: 440px) {
  .me-item__img img {
    width: 100%;
    height: auto;
  }
}