.section__shop {
  padding: 50px 0;
}

.shop__text {
  margin-bottom: 50px;
}

.shop__title {
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #49676E;
  margin-bottom: 20px;
}

.shop__subtitle {
  font-size: 35px;
  line-height: 48px;
  text-align: center;
  color: #49676E;
}

.shop__subtitle-link {
  font-size: 31px;
  line-height: 48px;
  color: #450c28;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.shop__subtitle-link:hover {
  border-bottom: 1px solid #2b454b;
}

.shop__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 50px;
}

.shop__item {
  height: 300px;
  width: 300px;
  border-radius: 5px;
  overflow: hidden;
  margin: 30px;
  -webkit-box-shadow: 0 3px 5px #000;
          box-shadow: 0 3px 5px #000;
}

.shop__item img {
  height: 200px;
  width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.shop__item img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.shop__item-img {
  margin-bottom: 20px;
}

.shop__item-name {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #49676E;
}

.shop__item-price {
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #49676E;
}