@import url('base.css');
@import url('layout.css');
@import url('navigation.css');
@import url('footer.css');
@import url('home.css');
@import url('gallery.css');
@import url('about.css');
@import url('contact.css');
@import url('shop.css');
@import url('responsive.css');